<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Garden</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('menu/nav') %>

    <section class="main">

        <h1>🍎신선한 과일 쇼핑몰🍓</h1>
        <a href="/fruits"><button>둘러보기</button></a>

    </section>

</body>
</html>