<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('menu/nav') %>

    <% if (success) { %>
    <script>
        window.onload = () => {
            showModal("회원가입이 완료되었습니다!");
        }
    </script>
    <% } %>

    <% if (error) { %>
    <script>
        window.onload = () => {
            showModal("<%= error %>");
        }
    </script>
    <% } %>

    <div class="auth-page">

        <div class="auth-card">

            <h1>로그인</h1>

            <form method="POST" action="/auth/login" autocomplete="off">

                <input name="username" placeholder="아이디" autocomplete="username" required>

                <input type="password" name="password" placeholder="비밀번호" autocomplete="current-password" required>

                <button class="auth-btn">로그인</button>

            </form>

            <a class="auth-link" href="/auth/register">
                회원가입 하러가기
            </a>

        </div>

    </div>

</body>
</html>